body {
    background-color: black;
    font-family: arial;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid white;
    position: absolute;
    z-index: 0;
}

#footer {
    z-index: 1000;
    position: fixed;
    background: black;
    color: white;
    border: 1px solid white;
    padding: 20px;
}

.block {
    padding: 10px;
    margin: 10px;
    border: 1px white solid;
    color: white;
}

.block .title {
    text-align: center;
}
